
    <article class="list-item" appSpotlightHover>
      <div class="leading" *ngIf="checkable || avatar || icon">
        <span class="checkmark" *ngIf="checkable" [class.checked]="checked">
          <span class="material-symbols-rounded">
            {{ checked ? 'check_circle' : 'radio_button_unchecked' }}
          </span>
        </span>
        <app-avatar *ngIf="avatar && !checkable" [name]="avatar" size="sm"></app-avatar>
        <span class="leading-icon material-symbols-rounded" *ngIf="icon && !avatar && !checkable">
          {{ icon }}
        </span>
      </div>

      <div class="content">
        <div class="title-row">
          <strong>{{ title }}</strong>
          <app-ui-badge
            *ngIf="badge && badgePlacement === 'title'"
            [label]="badge"
            [tone]="badgeTone"
            [showDot]="false"
          />
        </div>
        <p *ngIf="subtitle">{{ subtitle }}</p>
      </div>

      <div class="trailing">
        <app-ui-badge
          *ngIf="badge && badgePlacement === 'trailing'"
          [label]="badge"
          [tone]="badgeTone"
          [showDot]="false"
        />
        <span class="meta" *ngIf="meta" [ngClass]="metaTone">{{ meta }}</span>
        <ng-content select="[list-actions]"></ng-content>
      </div>
    </article>
  
