<nav
  class="proto-bottom-nav"
  [class.proto-bottom-nav--menu-open]="menuOpen"
  [style.--nav-count]="navSlotCount"
  [style.--active-index]="activeIndex()"
>
  <div class="proto-bottom-nav__track">
    <span class="proto-bottom-nav__indicator" aria-hidden="true"></span>

    <a
      *ngFor="let item of navItems; let index = index"
      class="proto-bottom-nav__item"
      [class.active]="activeIndex() === index"
      [routerLink]="item.route"
      (click)="requestNavigation()"
    >
      <span class="material-symbols-rounded">{{ item.icon }}</span>
      <span>{{ item.label }}</span>
    </a>

    <button
      type="button"
      class="proto-bottom-nav__item proto-bottom-nav__item--menu"
      [class.active]="isMenuActive()"
      (click)="requestMenu()"
      aria-label="Abrir menu"
    >
      <span class="material-symbols-rounded">menu</span>
      <span>Menu</span>
    </button>
  </div>
</nav>
